/* sub3-1 page*/
#sub3-1 #main_header {   
    position: relative; /*부모요소 위치 선언 */
    width: 1200px;
    height: 163px;
    margin: 0 auto;
    text-align: center;
}
#sub3-1 #main_header > h1 {
    padding: 30px 0;
}
#sub3-1 #main_gnb { /* 네비게이션 */
    position: relative;
    border-top: 1px solid #999;
    padding-top: 5px;
    z-index: 99; /* gnb 네비게이션 메뉴를 99 z-index값으로 높임 */

}
#sub3-1 #main_gnb > .depth1 > li .depth_red {
    color: #ac162c;
}

#sub3-1 #main_gnb > .depth1 > li { /* 1단계 메뉴의 li */
    position: relative;    
    float: left;
    width: 20%; 
    height: 40px;
    font-weight: bold;
}
#sub3-1 #main_gnb > .depth1 > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;   
    
}
#sub3-1 #main_gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #ac162c;
    color: #ac162c;
}
#sub3-1 #main_gnb > .depth1 > li:last-child a:hover {
    border-bottom: none;
}    
#sub3-1 #main_gnb .depth2 {
    position: absolute;
    top: 39px;
    height: 110px;
    width: 100%;
    border: 1px solid #eee;
    background-color: rgba(255,255,255,0.8);
    border-right: none;
}
#main_gnb .lastdep {
    border-right: 1px solid #eee;
}
#sub3-1 #main_gnb .depth2 > li > a {
    display: block;
    padding: 10px;
    font-weight: bold;
}
#sub3-1 #main_gnb .depth2 > li > a:hover {
    color: #ac162c;
}
#sub3-1 > .sub_main_banner{
    position: relative;
    width: 1200px; 
    height: 212px;      
    margin: 0 auto;    
    margin-top: 20px;
}
#sub3-1 .sub_main_banner_box {
    position: relative;
    width: 1200px;
    height: 212px;    
    margin: 0 auto;
    background-image: url('../images/subTopImg3-1.png');
    background-repeat: no-repeat;
    background-size: cover;      
}
#sub3-1 #main_lnb {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    text-align: center;
}
#sub3-1 #main_lnb li {
    display: inline-block;
}
#sub3-1 #main_lnb li a{
    color: #464646;
    display: block;
    line-height: 50px;
    padding: 0 40px;
    font-weight: bold;
    font-size: 1.2em;
}
#sub3-1 #main_lnb li a:hover{
    color: #ac162c;
}
#sub3-1 #main_lnb li.active_2 > a{
    color: #ac162c;
}
#sub3-1 .page_nav {
    background-color: #fff;
    width: 1200px;
    text-align: right;
    padding: 15px 0;
    margin:0 auto;
}

#sub3-1 #form_map {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px; 
}
#sub3-1 #form_map h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #ac162c;
    text-align: center;
}
#sub3-1 #form_map .line {
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#sub3-1 #form_map #map_adrs {
    width: 50%;
    float: left;
}
#sub3-1 #form_map #myAreaBtn {
    text-align: center;
    margin-bottom: 30px;
}
#sub3-1 #form_map #map_adrs select {
    border: 1px solid #1b5ac2;
    height: 30px;
    width: 180px;       
}
#sub3-1 #form_map #map_adrs #city {
    margin-left: 110px;
}
#sub3-1 #form_map #map_adrs #gu {
    margin-left: 25px;
}
/* 검색창 */
#sub3-1 #s {
    margin-top: 30px;
    margin-left: 110px;
    height: 42px;
    width: 390px;
    border: 1px solid #1b5ac2;
    background: #fff;
}
#sub3-1 #s input {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: none;
    outline: none;
    float: left;
    text-align: center;
}
#sub3-1 #s button {
    width: 56px;
    height: 40px;
    border: none;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #fff;
}
#sub3-1 #text_adr {
    border: 1px solid #1b5ac2;
    width: 390px;
    height: 130px;
    margin-top: 30px;
    margin-left: 110px;
    font-size: 1.2em;
    overflow: scroll;
    overflow-x: hidden;
    
    
}
#sub3-1 #text_adr li{
    margin-bottom: 5px;
    line-height: 2em;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(255, 248, 248);
}

#sub3-1 .new_store {
    margin-top: 30px;
    margin-left: 110px;
    width: 390px;
    height: 218px;
}
#sub3-1 .n_store {
    padding: 10px;
}
#sub3-1 .n_store h3{
    text-align: center;
    font-size: 1.3em;        
}
#sub3-1 .op_line{
    display: block;
    border-bottom: 1px solid #464646;
    width: 365px;
    margin: 15px auto;     
}
#sub3-1 .n_store p {
    font-size: 1em;
    line-height: 1.8em;
}
#sub3-1 .n_store a {
    float:right;
    background: #ac162c;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    height: 20px;
    line-height: 20px;;
    color: white;
    font-weight: bold;
}
#sub3-1 .n_store a:hover {
    background: #f1ebe7;
    color: #ac162c;
}
#sub3-1 .n_store b {
    font-weight: bold;
    font-size: 1.3em;
}
#sub3-1 .event_01 {
    margin-top: 10px;
    border-top: 1px solid #464646;
    padding-top: 10px;
    font-weight: bold;
}
#sub3-1 #map {    
    border: 1px solid #eee;
    float: right;
    padding: 10px;
    margin-top: 74px;
    margin-right: 40px;
    
}